h1 {
    font-size: clamp(1.5rem, 3vw, 4rem);
    
    font-family: "Chivo Mono", monospace;
    font-weight: 400;
    color: #5B1018;

    margin: 0.25em;
}

p {
    font-size: clamp(1rem, 1.5vw, 2rem);
    
    font-family: "Chivo Mono", monospace;
    font-weight: 400;
    color: #5B1018;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    background: #F8E6CE;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #F1ADB5 1px, transparent 1px), linear-gradient(to bottom, #F1ADB5 1px, transparent 1px);
}

a {
    text-decoration: none;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 30px;
    gap: 50px;
}
