h1 {
    font-size: clamp(1.5rem, 3vw, 4rem);
    
    font-family: "Chivo Mono", monospace;
    font-weight: 400;
    color: #5B1018;

    margin: 0.25em;
}

h2 {
    font-size: clamp(1rem, 2vw, 3rem);
    
    font-family: "Chivo Mono", monospace;
    font-weight: 400;
    color: #5B1018;

    margin: 0.25em;
}

p {
    font-size: clamp(1rem, 1.5vw, 2rem);
    
    font-family: "Chivo Mono", monospace;
    font-weight: 400;
    color: #5B1018;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background: #F8E6CE;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #F1ADB5 1px, transparent 1px), linear-gradient(to bottom, #F1ADB5 1px, transparent 1px);
}

a {
    text-decoration: none;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.windowBar {
    width: 100%;
    height: 65px;
    margin: 0;

    border: #5B1018;
    border-style: solid;
    border-width: 3px;

    display: flex;
    justify-content: space-between;
}

.windowBarExitButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border: #5B1018;
    border-style: solid;
    border-width: 3px;
    background-color: #F8E6CE;
    margin: 10px;

    font-size: 40px;
    color: #5B1018;
}

.windowBarText {
    padding-left: 30px;
    color: #F8E6CE;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.generalContainerBorder {
    border: #5B1018;
    border-style: solid;
    border-width: 3px;
    border-radius: 65px;
}