.homeFlexContainer {
    justify-content: center;
    align-items: center;
    max-height: 100%;

    width: 100%;
    margin: 50px;
    gap: 50px;
}

.musicCard {
    flex-grow: 1;
    align-items: center;

    padding: 15px;
    width: 400px;
    height: auto;

    background-color: #FAC67A;
}

.linksGroup {
    flex-grow: 1;
    padding: 15px;
    width: 400px;
    height: auto;
}

.profilePicture {
    display: flex;
    width: 60%;
    height: auto;
    flex-grow: 1;

    border: #5B1018;
    border-style: solid;
    border-width: 3px;
    border-radius: 65px;
}

.iconRed {
    width: 75px;
    height: 75px;

    border-radius: 50%;
    border: #5B1018;
    border-style: solid;
    border-width: 3px; 

    background-color: #F42C42;
    color: #F8E6CE;
}

.iconBlue {
    width: 75px;
    height: 75px;

    border-radius: 50%;
    border: #5B1018;
    border-style: solid;
    border-width: 3px; 

    background-color: #34A5B8;
    color: #F8E6CE;
}

.iconGreen {
    width: 75px;
    height: 75px;

    border-radius: 50%;
    border: #5B1018;
    border-style: solid;
    border-width: 3px; 

    background-color: #23B181;
    color: #F8E6CE;

    justify-content: center;
    align-items: center;
}

.iconPink {
    width: 75px;
    height: 75px;

    border-radius: 50%;
    border: #5B1018;
    border-style: solid;
    border-width: 3px; 

    background-color: #F1ADB5;
    color: #5B1018;

    justify-content: center;
    align-items: center;
}

.iconYellow {
    width: 75px;
    height: 75px;

    border-radius: 50%;
    border: #5B1018;
    border-style: solid;
    border-width: 3px; 

    background-color: #FAC67A;
    color: #5B1018;

    justify-content: center;
    align-items: center;
}

.iconImg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    padding: 13px;
}

.socialsContainer {
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    gap: 10px;
}

.linkItem {
    gap: 20px;
    padding-top: 10px;
    align-items: center;
}

.musicRow {
    gap: 10px;
    align-items: center;
}

.skipMusicIcon {
    font-size: 55px;
    padding: 13px;
    color: #F8E6CE;
    -webkit-text-stroke: 3px #5B1018;
}

.playMusicIcon {
    font-size: 55px;
    padding: 13px;
    color: #F42C42;
    -webkit-text-stroke: 3px #5B1018;
}
