.projectFlexContainer {
    justify-content: center;
    align-items: center;
        
    width: 100%;
    gap: 50px;
}


.projectContainer {
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    height: auto;
    width: 75%;

    background-color: #F8E6CE;

    box-shadow: 20px 20px #F42C42;
    padding: 15px;

    gap: 45px;
}

.projectPicture {
    display: flex;
    width: 25%;
    height: auto;
}

.projectDescription {
    width: 65%;
    padding: 20px;
}

.titleText {
    margin: 0;
}

.languagesText {
    font-size: 20px;
}

.descriptionText {
    font-size: 15px;
}

.projectLinkIcon {
    font-size: 30px;
    color: #5B1018;
}