/* General Styles*/
h1 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    
    font-family: "Chivo Mono", monospace;
    font-weight: 400;
    color: #5B1018;
}

p {
    font-size: clamp(1rem, 1.5vw, 2rem);
    
    font-family: "Chivo Mono", monospace;
    font-weight: 400;
    color: #5B1018;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    background: #F8E6CE;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #F1ADB5 1px, transparent 1px), linear-gradient(to bottom, #F1ADB5 1px, transparent 1px);
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 30px;
    gap: 30px;
}

/* Home Page */
.musicCard {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;

    padding: 15px;
    width: 400px;
    height: auto;

    border: #5B1018;
    border-style: solid;
    border-width: 3px;
    border-radius: 65px;
    background-color: #FAC67A;
}

.linksGroup {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 15px;
    width: 400px;
    height: auto;

    border: #5B1018;
    border-style: solid;
    border-width: 3px;
    background-color: #ff0e0e;
}

.profilePicture {
    display: flex;
    width: 60%;
    flex-grow: 2;

    border: #5B1018;
    border-style: solid;
    border-width: 3px;
    border-radius: 65px;

    background-color: #F8E6CE;
}
/* */